/* Estilos para el header */

.header{
    background-color: $color-white;
    padding: 1rem 2rem;
    border-bottom: 1px solid rgba(0,0,0,0.1);

    &__container{
        @include flex-center(row, space-between, center);
    }

    &__logo{
        font-size: 2rem;
        font-weight: 700;
        color: $color-primary;
        font-family: $font-main;
        text-decoration: none;
        text-align: center;
    }
    &__toggle{
        width: 3.5rem;
        height: 3rem;
        background: none;
        border: none;
        cursor: pointer;
        @include flex-between();
        padding: 0;

        span{
            display: block;
            width: 100%;
            height: 0.4rem;
            background-color: $color-dark;
            margin-bottom: 6px;
            border-radius: 5px;
            transition: 0.3s ease;
        }
        /* Oculto en desktop */
        @include tablet{
            display: none;
        }
    }
    &__nav{
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        background-color: black;
        display:flex ;
        flex-direction: column;
        gap: 2rem;
        padding: 4rem 0;
        text-align: center;
        transition: top 0.4s ease;
        z-index: 1000;

        a{ 
            color: $color-white;
            text-decoration: none;
            font-size: 2.2rem;
        }
        /* En tablet y PC vuelve a su forma normal */
        @include tablet{
            position: static;
            flex-direction: row;
            background: black;
            color: $color-dark;
            display: flex;
            flex-direction: column;
            align-items: center;
            top: 0;
            padding: 0;

            a{
                color: $color-dark;
                font-size: 1.8rem;
            }
        }
    }
    /* Clase cuando se abre el menu */
    .nav-activo{
        top: 0;
    }
}