// Colores //

$color-primary: #4f46e5;
$color-secondary: #4338ca;
$color-dark: #111827;
$color-light: #f9fafb;
$color-grey: #6b7280;
$color-white: #fff;

// Tipografias //

$font-main: 'Inter', sans-serif;
$font-size-base: 16px;

$h1-size: 3rem;
$h2-size: 2.25rem;
$h3-size: 1.5rem; 

/* Espaciados globales */

$spacing-s: .75rem;
$spacing-m: .1.5rem;
$spacing-l: 3rem;

/* Breakpoints */ 
$mobile: 480px;
$tablet: 768px;
$desktop: 1024;

/* Espacio global */

$padding-section: 4rem 1.5rem;